* {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    /*  vh=19.2px */
    position: relative;
}

.navbar {
    display: flex;
    /* place each child element side by side */
    width: 85%;
    justify-content: space-around;
    /* space between the child tags */
    margin-left: 100px;
    align-items: center;
    /* vertically center */
    right: 0;
    left: 0;

}

.listitem {
    display: inline-block;
    /* place each element side by side */
    list-style: none;
    /* remove list styles(dot) */
    margin: 10px 20px;
}

.link {
    color: black;
    text-decoration: none;
    /* to remove underline */
    font-weight: bold;
}

section nav ul li a ::after {
    content: '';
    width: 0;
    height: 2px;
    background: rgb(225, 187, 49);
    display: block;
    transition: 0.2s linear;

}
.icon i{ margin-right: 10px;}

section nav ul li a:hover::after {
    width: 100%;
}

section nav ul li a:hover {
    color: rgb(225, 187, 49);
}

section nav .icon i:hover {
    color: rgb(225, 187, 49);
}

section .main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 130PX;
}

section .main .main_image img {
    width: 700px;
    position: relative;
    left: 70px;

}

section .main .men_text h1 {
    font-size: 60px;
    position: relative;
    top: -90px;
    left: 20px;

}

section .main .men_text h1 {
    margin-left: 15px;
    color: rgb(225, 187, 49);
    font-family: mv boli;
    line-height: 75px;
    font-size: 90px;
}

section p {
    width: 650px;
    text-align: justify;
    position: relative;
    left: 123px;
    bottom: 70px;
    line-height: 22px;

}



/* menu section */
#menu {
    padding: 25px 0 25px 0;
    margin: 0px 50px;
}

#section {
    padding: 25px 0 25px 0;
    text-align: center;
    font-size: 2rem;
    font-family: verdana;
}

#menu_row {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    column-gap: 5px;
    /* gap: 10px; */
    /* padding: 0 100px 0 100px; */
}

.menu_col {
    box-shadow: 2.5px 2.5px 2.5px #bbb;
    border: 1px solid #bbb;
    background-color: #fff;
    margin: 20px;
    text-align: center;
}

/* 
.menu_col img{
    height: 100%; 
} */

.menu_col h2 {
    background-color: rgb(189, 189, 51);
    color: fff;
    text-align: center;
    font-family: cursive;
}

#image,
.menu_image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

#image img,
.menu_image img {
    height: 92%;
    width: 90%;
    margin-top: 10px;
    /* display: block; */
}

.box {
    text-align: center;
    align-items: center;
    height: 300px;
    /* overflow: hidden;*/
}

/* Menu */
.menu {
    margin: 0px 50px;
}

.menu h1 {
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.menu h1 span {
    color: rgb(189, 189, 51);
    margin-left: 15px;
    font-family: mv boli;
}

.menu h1 span::after {
    content: '';
    width: 100%;
    height: 2px;
    background: rgb(189, 189, 51);
    display: block;
    position: relative;
    bottom: 15px;
}

.menu .menu_row {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
}

.menu .menu_row .menu_col {
    width: 325Px;
    height: 480px;
    padding-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba (0, 0, 0, 0.2);
    position: absolute;
}

/* .menu .menu_row .menu_col .menu_image {
    width: 300px;
    height: 245px;
    margin: 0 auto;
    overflow: hidden;
} */

.menu_col {
    /* padding: 10px; */
    transition: 0.3s;
}

.menu_col:hover {
    transform: scale(1.1);
}

.menu_col .small_card {
    float: right;
    position: relative;
    top: -290px;
    right: -30px;
    border-radius: 7px;
    transition: 0.3s;
}

.menu_col:hover .small_card {
    position: relative;
    top: -290px;
    right: 15px;
    opacity: 1;
}

.small_card i {
    color: white;
}

.small_card i:hover {
    color: rgb(255, 191, 0);
}

.menu .menu_row .menu_col .small_card i {
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 50px;
    color: #000;
    cursor: pointer;
    text-shadow: 0 0 6x #000;
    transition: 0.2s;
}

.menu .menu_row .menu_col .small_card i:hover {
    color: rgb(189, 189, 51);
}

.menu .menu_row .menu_col .menu_info p {
    text-align: center;
    margin-top: 8px;
    line-height: 21px;
}

.menu_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    background-color: #000;
    padding: 8px 10px;
    margin: 20px 60px;
    transition: 0.3s;
}

 /*About*/
        
 .about{
    width: 100%;
    height: 100vh;
    padding: 70px 0;
}

.about .about_main{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about .about_main .image img{
    width: 800px;
    position: relative;
    top: 60px;
}

.about .about_main .about_text h1 span{
    color: #fac031;
    margin-right: 15px;
    font-family: mv boli;
}

.about .about_main .about_text h1{
    font-size: 55px;
    position: relative;
    bottom: 50px;
}

.about .about_main .about_text h3{
    font-size: 30px;
    margin: 0 0 50px 0;
}

.about .about_main .about_text p{
    width: 650px;
    text-align: justify;
    margin-right: 30px;
    line-height: 22px;
}

.about .about_btn{
    background: #fac031;
    padding: 12px 25px;
    text-decoration: none;
    color: #fff;
    position: relative;
    left: 55%;
    bottom: 30px;
}

/*Footer*/

footer {
    width: 100%;
    height: -00px;
    

    background: #eeeeee;
}

footer .footer_main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

footer .footer_main .footer_tag {
    text-align: center;
}

footer .footer_main .footer_tag h2 {
    color: #000;
    margin-bottom: 25px;
    font-size: 30px;
}

footer .footer_main .footer_tag p {
    margin: 10px 0;
}

footer .footer_main .footer_tag i {
    margin: 0 5px;
    cursor: pointer;
}

footer .footer_main .footer_tag i:hover {
    color: #fac031;
}

footer .end {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .end span {
    color: #fac031;
    margin-left: 10px;
}

::-webkit-scrollbar {
    width: 13px;
}

::-webkit-scrollbar-track {
    border-radius: 15px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb {
    background: #fac031;
    border-radius: 15px;
}